* {
    background-color: white;
}

.red {
    background-color: red;
    color: red;
}

.blank {
    background-color: #DADADA;
    color: #DADADA;
}

.yellow {
    background-color: yellow;
    color: yellow;
}